.role-update-request
	z-index 1000
	color #444
	display table
	width 90%
	margin 2% 5%
	background-color white
	opacity 1

	.row
		width 100%
		clear both
		border-bottom 1px solid #f0f0f0
		display inline-block
		float left
		&.name
			color #666
			padding 5px
			font-weight bold
			border 1px solid #ddd
			text-align center
			background-color #ccc

	.field
		float left
		display table-column
		width 18%
		overflow hidden
		margin 5px
		text-overflow clip
		white-space nowrap
		text-align left
