.admins
	.login
		border 1px solid #404040
		border-radius 5px
		width 400px
		position absolute
		top 50%
		left 50%
		transform translate(-50%, -50%)
		input
			position block
			width 97%
			border-radius 5px
			padding 3px
			margin 5px
		button
			left 43%
			margin 5px
		h2
			text-align center
