angular.module( 'AdminApp' ).factory 'Discount', (Base, Option) ->
	class Discount extends Base
		@configure
			url: '/angular/discounts/{{id}}'
			name: 'discount'

		@variants: [
			<% Core::Discount.variants.keys.each do |variant| %>
			new Option '<%= variant %>', '<%= I18n.t variant, scope: [ :activerecord, :attributes, 'core/discount', :variants ], locale: :ru %>'
			<% end %>
		]
