angular.module( 'AdminApp' ).factory 'Place', (Base, Option) ->
	class Place extends Base
		@configure
			url: '/angular/places/{{id}}'
			name: 'place'

		@categories: [
			<% Core::Location.categories.keys[ 5 .. -1 ].each do |category| %>
			new Option '<%= category %>', '<%= I18n.t category, scope: [ :activerecord, :attributes, 'core/location', :categories ], locale: :ru %>'
			<% end %>
		]
