.admins ng-controller="AdminsController"
	.login
		h2 Требуется авторизация
		input type="text" ng-model="user.login" on-enter="login()" placeholder="Login" autofocus=true
		input type="password" ng-model="user.password" on-enter="login()" placeholder="Password"
		button.btn.btn-success ng-click="login()" Войти
