angular.module( 'AdminApp' ).controller 'AdminsController', ($scope, $http, $location, Storage) ->
	$scope.login = ->
		$http.post '/angular/admins/login', $scope.user
		.then (response) ->
			Storage.set 'currentUser', response.data
			$location.url '<%= Admin::Application.routes.url_helpers.users_path %>'
		, (response) -> alert response.data.error
