angular.module( 'AdminApp' ).controller 'MainController', ($scope, Storage) ->
	$scope.storage = Storage.storage
	$scope.init = (user) ->
		Storage.set 'currentUser', user
		window.history.replaceState {}, document.title, '<%= Admin::Application.routes.url_helpers.users_path %>' if user && window.location.pathname == '/admins'
