angular.module( 'AdminApp' ).controller 'RoleUpdateListController', ($scope, RoleUpdateRequest, $uibModal, ModelAgency) ->
	$scope.modelNames = [
		'guest'
		'talent'
		'fashion_model'
		'celebrity'
	]

	ModelAgency.query().then (result) -> $scope.agencies = result.modelAgencies
	$scope.init = ->
		RoleUpdateRequest.query().then (result) -> $scope.roleUpdates = result
	$scope.open = (id) ->
		detailedRoleUpdate = $uibModal.open
			templateUrl: '<%= asset_path 'detailed_role_update.html' %>'
			controller: 'DetailedRoleUpdateController'
			scope: $scope
		$scope.id = id

angular.module( 'AdminApp' ).controller 'DetailedRoleUpdateController', ($scope, RoleUpdateRequest) ->
	$scope.$watch 'id', ->
		if $scope.id?
			RoleUpdateRequest.get($scope.id).then (result) -> $scope.roleUpdateRequest = result
	$scope.confirm = -> $scope.roleUpdateRequest.after.save().then $scope.$dismiss()


