.role-update-request ng-controller="RoleUpdateListController" ng-init="init()"
	h2 Верификация моделей

	.row.name
		.field Имя
		.field Фото
		.field Текущий статус
		.field Повысить статус
		.field Действия

	.row ng-repeat="roleUpdate in roleUpdates"
		.field ng-bind="roleUpdate.login"
		.field
			big-photo url="roleUpdate.selfie"
		.field ng-bind="roleUpdate.currentRole"

		select.field ng-options="item for item in modelNames" ng-model="roleUpdate.targetRole"
		.buttons
			button.btn.btn-success Save
			button.btn.btn-info ng-click="open(roleUpdate.id)"
				i.glyphicon.glyphicon-pencil
			button.btn.btn-danger
				i.glyphicon.glyphicon-remove
