.popup-image
	display inline-block
	float left
	width 100px
	height 100px
	margin 10px
	img
		display inline-block
		float left
		max-width 100px
		max-height 100px
		cursor pointer
		&.big
			max-width 90%
			max-height 80%
			position fixed
			top 50%
			left 50%
			transform translate(-50%, -50%)
			cursor default
	img.big, .overlay
		z-index 1000
	.overlay
		width 2000%
		height 2000%
		position fixed
		background-color #444
		left -100%
		top -100%
		opacity .7
