.detailed-role-update
	position absolute
	z-index 1000
	width 800px
	margin auto
	padding 30px
	border 1px solid #aaa
	border-radius 15px
	background-color white
	top 50%
	left 50%
	transform translate(-50%, 0)

	.buttons
		button
			margin 5px 0 0 5px
			position relative
			left 39%

	.hide
		cursor pointer
		z-index 10000
		position fixed
		top 50%
		left 50%
		transform translate(-50%, -50%)

	.role-update-state
		width 40%
		display table-cell
		position relative
		&.before
			left 20px
		&.after
			right 20px

		> .title
			text-align center
			font-weight bold
			height 25px
			margin 0 0 15px 0

		.image-wrapper
			margin 0 auto
			width 100px
			height 100px
			border-radius 10px
			border 1px solid #aaa
			overflow hidden
			position relative
			background-color #f0f0f0
			img.small
				display block
				max-width 100px
				max-height 100px
				position absolute
				left 50%
				top 50%
				transform translate(-50%, -50%)

		.state-row
			float left
			margin 10px 0
			padding 5px
			&.left
				clear left

			.state-field
				margin 10px 0

				&.title, &.name
					padding 5px
					height 35px
				&.title
					font-weight bold
					text-align center
				button.calendar
					width 31px

			input
				&.state-field
					border-radius 5px
					border-width 1px
					color #444
					width 192px
					height 30px
				&.date
					width 161px
					display inline-block
		.links
			min-height 1em
			margin 10px 0
			width 48%
		a
			display inline-block
			width 47%
			text-decoration none
			color #444
			font-weight bold

	.model-agencies
		width 100%
		.del
			top -5px
