.model-agencies
	width 48%
	float right
	.agency, .add
		position relative
		display inline-block
		float left
		margin 3px
		border 1px solid #f0f0f0
		border-radius 5px
		text-align center
		font-size 16px
		font-weight normal
		color #444
		background-color #f0f0f0
		width 100px
		height 60px
		overflow hidden
		padding 10px 0px
	.agency .del
		position absolute
		width 20px
		height 20px
		left 69px
		top -9px
		background-color transparent
		border none
		color #444
