.users ng-controller="UsersController" ng-init="init()"
	h2 Пользователи

	.row.name
		.field Login
		.field E-mail
		.field.center Дата регистрации
		.field Телефон
		.field Имя
		.field Фамилия
		.field.center Действия

	.row.data ng-repeat="user in users"
		.field ng-bind="user.login"
		.field ng-bind="user.email"
		.field.center ng-bind="user.createdAt | date:'dd.MM.yyyy'"
		.field ng-bind="user.phone || '.'"
		.field ng-bind="user.firstName"
		.field ng-bind="user.lastName"

		.buttons
			button.btn.btn-info ng-click="show(user.id)"
				i.glyphicon.glyphicon-pencil
			button.btn.btn-danger
				i.glyphicon.glyphicon-remove

	uib-pagination boundary-links="true" max-size="10" ng-change="changePage()" items-per-page="itemsPerPage" total-items="totalUsersCount" ng-model="currentPage" class="pagination-sm" previous-text=="&lsaquo;" next-text=="&rsaquo;" first-text=="&laquo;" last-text=="&raquo;"
