.user ng-controller="UserShowController" ng-init="init(#{ @id })"
	h2.title ng-bind="user.login"
	.right
		label Аватар
		img.avatar ng-src="{{user.avatar}}"
		label Селфи
		img.selfie ng-src="{{user.selfie}}"
		label Username
		input type="text" ng-model="user.login"
		label Email
		input type="text" ng-model="user.email"
		label Имя
		input type="text" ng-model="user.firstName"
		label Фамилия
		input type="text" ng-model="user.lastName"
		label Роль
		select ng-options="item for item in modelNames" ng-model="user.role"
		label Профессия
		select ng-options="item.title for item in professions track by item.id" ng-model="user.profession"
		label Телефон
		input type="text" ng-model="user.phone"
		label Агентства

		select ng-options="item.title + ' (' + item.cityName + ')' for item in agencies track by item.id" ng-model="agency"
		button.add.btn.btn-default ng-click="add()" Добавить
		.model-agencies agencies="user.modelAgencies"

		p ng-bind="user.createdAt | date:'dd.MM.yyyy @ h:mma'"
		label Дата регистрации
		.devices ng-repeat="device in user.devices"
			p ng-bind="device.deviceId"
			label Номер устройства
			p ng-bind="device.platform"
			label Платформа
			p ng-bind="device.appVersion"
			label Версия приложения
		label Ссылки
		.links
			.link ng-repeat="link in user.links"
				a ng-bind="link.variant" ng-href="{{link.source}}"
		label Фотографии
		.photos
			big-photo.photo url="photo.url" ng-repeat="photo in user.photos"
				button.del.btn.btn-danger ng-click="del(photo)"
					i.glyphicon.glyphicon-remove
				.var ng-bind="photo.variant"


	.buttons
		button.btn.btn-success Сохранить
		button.btn.btn-default ng-click="cancel()" Отмена
