angular.module( 'AdminApp' ).directive 'agencies', ->
	restrict: 'A'
	templateUrl: '<%= asset_path 'model_agencies.html' %>'
	scope:
		agencies: '='
		static: '='
	controller: ($scope) -> $scope.delete = (agency) -> $scope.agencies.remove agency
