angular.module( 'AdminApp' ).directive 'bigPhoto', ->
	restrict: 'E'
	replace: true
	transclude: true
	templateUrl: '<%= asset_path 'big_photo.html' %>'
	scope:
		url: '='
	controller: ($scope) ->
		$scope.init = -> $scope.bigUrl = ''
		$scope.showBig = (url) -> $scope.bigUrl = $scope.urlbig = $scope.url.replace 'thumb', 'original'
		$scope.isBig = (url) -> $scope.bigUrl == $scope.urlbig
		$scope.cancel = -> $scope.bigUrl = null
