angular.module( 'AdminApp' ).directive 'localizedTextarea', ->
	restrict: 'E'
	replace: true
	templateUrl: '<%= asset_path 'localized_textarea.html' %>'
	link: (scope, element) -> element.find('textarea').attr 'rows', scope.rows if scope.rows
	scope:
		target: '='
		language: '='
		rows: '@'
