angular.module( 'AdminApp' ).directive 'roleUpdateState', ->
	restrict: 'E'
	replace: true
	templateUrl: '<%= asset_path 'role_update_state.html' %>'
	scope:
		state: '='
		current: '@'
		target: '@'
	controller: ($scope, ModelAgency) ->
		unless $scope.current
			ModelAgency.query().then (result) -> $scope.agencies = result.modelAgencies

		$scope.datepicker =
			options:
				formatYear: 'yy'
				startingDay: 1
			opened: false

		$scope.openCalendar = -> $scope.datepicker.opened = true
		$scope.addAgency = ->
			agency = $scope.state.modelAgencies.find (object) -> object.id == $scope.agency.id
			$scope.state.modelAgencies.push $scope.agency unless agency
