.news
	color #444
	display table
	width 90%
	margin 2% 5%
	.row
		width 100%
		clear both
		border-bottom 1px solid #f0f0f0
		display inline-block
		float left

	.title
		float left

	.create
		width 75px
		margin 20px auto
		padding 5px
		position relative
		float left
		left 2%

	.name
		color #666
		padding 5px
		font-weight bold
		border 1px solid #ddd

		background-color #ccc

	.field, .buttons
		float left
		display table-column
		width 20%
		overflow hidden
		text-align center
		margin 5px
		&.big
			width 42%
			text-align left
		&.small
			width 8%
			text-align center
			font-size inherit

	.cities
		width 15%
		text-align center
		display inline-block

	.pagination
		position relative
		width 100%
