.newsShow
	width 1000px
	margin auto
	color #444
	.right
		display inline-block
		width 100%


	p
		font-weight normal
		display inline-block
		width 47%
		clear both
		margin 10px

	input, select
		margin 10px
		border-radius 5px
		width 40%
		clear both
		font-size 15px
		&.chckbx
			margin 13px
	select
		width 70%
	textarea
		border 1px solid white
		width 40%
		clear both
		position relative
		z-index -100
		font-size 15px

	label
		margin 10px
		float left
		display inline-block
		width 40%
		text-align center
	.loc
		height 35px
		display inline-block
		width 100%
		border 1px solid #f0f0f0
		position relative
		z-index 100
		overflow hidden
		transition height ease-in-out 500ms
		&:hover
			height 200px
			background-color white

	button
		margin 10px 5px
		position relative
		left 40%
		cursor pointer
		&:focus
			outline 0
		&.add
			position relative
			left 0
		&.del
			position absolute
			left 80px
			top -15px
			background-color #f0f0f0
			border none
			font-weight bold
			color #444
	.cities
		width 58%
		float right
		.city, div.add
			position relative
			margin 3px
			border 1px solid #f0f0f0
			border-radius 5px
			text-align center
			font-size 16px
			font-weight normal
			color #444
			background-color #f0f0f0
			width 100px
			height 35px
			overflow hidden
			padding 6px 0px
			float left

	.photos
		width 50%
		display inline-flex
		.file
			width 100%
		.photo
			width 50%
			display inline-block
	.image
		display inline-block
		float left
		width 100px
		height 100px
		margin 10px
		img
			display inline-block
			float left
			max-width 100px
			max-height 100px
			cursor pointer
			&.big
				max-width 1000px
				max-height 1000px
				z-index 10000
				position fixed
				top 50%
				left 50%
				transform translate(-50%, -50%)
				cursor default
	.hide
		cursor pointer
		z-index 10000
		position fixed
		top 50%
		left 50%
		transform translate(-50%, -50%)

	.overlay
		position fixed
		background-color grey
		opacity .7
		z-index 10
		top 0
		bottom 0
		left 0
		right 0



