.photos-view
	color #444
	display table
	width 60%
	margin auto
	.row
		width 100%
		clear both
		border-bottom 1px solid #ccc
		display inline-block
		// float left

	.field
		display block
		margin 10px
		&.desc
			width 60%
			float left
	.comment
		display inline-block
		margin 10px
		width 70%

	textarea
		&.desc, &.comment
			width 70%
			border 1px solid #f0f0f0
			border-radius 5px
	.image
		display inline-block
		width 100px
		height 100px
		margin 10px
		text-align center
		img
			display inline-block
			max-width 100px
			max-height 100px
			cursor pointer
			&.big
				max-width 1000px
				max-height 1000px
				z-index 10000
				position fixed
				top 50%
				left 50%
				transform translate(-50%, -50%)
				cursor default

	.buttons, .desc
		display inline-block
	.buttons
		// display block
		float right
	button
		width 100%
		display block
	.hide
		cursor pointer
		z-index 10000
		position fixed
		top 50%
		left 50%
		transform translate(-50%, -50%)

	.overlay
		position fixed
		background-color grey
		opacity .7
		z-index 10
		top 0
		bottom 0
		left 0
		right 0

	a
		display inline-block
		margin 10px
		color #444
		&:hover
				color #999
		text-decoration none
		width 100%
		clear both

	.pagination
		display flex
		position relative
		width 100%
