.events ng-controller="EventsController" ng-init="init()"
	h2.title События
	button.create.btn.btn-success ng-click="create()" Создать
	.row.name
		.field.big Название
		.field.small Город
		.field.big Адрес
		.field.small Лайки
		.field Действия

	.row.data ng-repeat="event in eventsPerPage"
		.field.big ng-bind="event.title"
		.field.small ng-bind="event.cityName"
		.field.big ng-bind="event.address"
		.field.small ng-bind="event.likesCount"
		.buttons
			button.btn.btn-info ng-click="show(event.id)"
				i.glyphicon.glyphicon-pencil
			button.btn.btn-primary
				i.glyphicon.glyphicon-comment
			button.btn.btn-danger
				i.glyphicon.glyphicon-remove

	uib-pagination boundary-links="true" max-size="10" ng-change="changePage()" items-per-page="itemsPerPage" total-items="events.length" ng-model="currentPage" class="pagination-sm" previous-text=="&lsaquo;" next-text=="&rsaquo;" first-text=="&laquo;" last-text=="&raquo;"
