.event ng-controller="EventShowController" ng-init="init(#{ @id })"
	h2.title ng-bind="(isExists ? 'Редактирование' : 'Создание') + ' события '+ event.title.ru"

	- %w[ ru en de cn ].each do |locale|
		button.local ng-class="{selected: currentLanguage == '#{ locale }'}" ng-click="#{ locale }()" == locale.humanize
	.main
		.title Название
		localized-input.field.margin type="text" target="event.title" language="currentLanguage"
		.cities.options-wrapper.margin
			select.options.border ng-options="item.title for item in cities track by item.id" ng-model="event.location.city"
		.title Город
		input.field.margin.border type="text" ng-model="event.location.address"
		.title Адрес
		.map-container
			ui-gmap-google-map center="map.center" zoom="map.zoom" options="map.options" draggable="true"
		localized-textarea target="event.description" language="currentLanguage" rows="10"
		.title Описание
		.photos
			.field.photo ng-repeat="photo in event.sharedPhotos"
				big-photo url="photo.url"
				/ img.photo ng-src="{{photo.url}}"
		.title Фотографии
		input.field.margin.border date-time=true ng-model="event.start" view="month" format="DD.MM.YYYY, hh:MM A"
		.title Дата начала
		input.field.margin.border date-time=true ng-model="event.finish" view="month" format="DD.MM.YYYY, hh:MM A"
		.title Дата завершения
		.title Лайки
		.field.margin.border ng-bind="event.likesCount"
		input.field.margin.border type="text" ng-model="event.additionalLikes"
		.title Дополнительные лайки
		/ input.field.margin.border type="text" ng-model="event.url"
		/ .title Сайт

		.buttons
			button.btn.btn-success Сохранить
			button.btn.btn-default ng-click="cancel()" Отмена
