.news ng-controller="NewsController" ng-init="init()"
	h2.title Новости
	button.create.btn.btn-success ng-click="create()" Создать
	.row.name
		.field.big Заголовок
		.field.small Дата
		.field.small Лайки
		.field.cities Город
		.field Действия

	.row.data ng-repeat="record in newsPerPage"
		.field.big ng-bind="record.title"
		.field.small ng-bind="record.createdAt | date:'dd.MM.yyyy'"
		.field.small ng-bind="record.likesCount"
		.field.cities
			.city ng-repeat="city in record.cities" ng-bind="city.title"

		.buttons
			button.btn.btn-info ng-click="show(record.id)"
				i.glyphicon.glyphicon-pencil
			button.btn.btn-primary
				i.glyphicon.glyphicon-comment
			button.btn.btn-danger
				i.glyphicon.glyphicon-remove

	uib-pagination boundary-links="true" max-size="10" ng-change="changePage()" items-per-page="itemsPerPage" total-items="news.length" ng-model="currentPage" class="pagination-sm" previous-text=="&lsaquo;" next-text=="&rsaquo;" first-text=="&laquo;" last-text=="&raquo;"
