.newsShow ng-controller="NewsShowController" ng-init="init(#{ @id })"
	h2.title ng-bind="(isExists ? 'Редактирование' : 'Создание') + ' новости '+ record.title.ru"
	.right
		input type="text" ng-model="record.title.ru"
		label Название
		.cities
			select ng-options="item.title for item in cities track by item.id" ng-model="city"
			button.add.btn.btn-default ng-click="add()"Добавить
			.city ng-repeat="city in record.cities"
				.city ng-bind="city.title"
				button.del ng-click="del(city)"X
		label Города
		.loc
			textarea rows="10" ng-model="record.description.ru"
			label Описание(ru)
		.loc
			textarea rows="10" ng-model="record.description.en"
			label Описание(en)
		.loc
			textarea rows="10" ng-model="record.description.de"
			label Описание(de)
		.loc
			textarea rows="10" ng-model="record.description.cn"
			label Описание(cn)
		p ng-if="isExists" ng-bind="record.createdAt | date:'dd.MM.yyyy @ h:mma'"
		label ng-if="isExists" Дата добавления
		/ input type="file"
		.photos
			p ng-repeat="photo in record.photos"
				/ img ng-src="{{photo.url}}"
				big-photo url="photo.url"
		label Фотографии
		p ng-if="isExists" ng-bind="record.likesCount"
		label ng-if="isExists" Likes
		input type="text" ng-model="record.additionalLikes"
		label Дополнительные лайки
		input.chckbx type="checkbox"
		label Важная новость

	.buttons
			button.btn.btn-success Сохранить
			button.btn.btn-default ng-click="cancel()" Отмена
