.event
	width 100%
	margin auto
	color #444

	.border
		border-radius 5px
	.margin
		margin 10px

	.main
		display inline-block
		width 80%
		float left
		.title
			font-weight bold
			margin 10px
			text-align center
	.main
		select
			width 100%
		input, .localization
			width 50%
		.title
			float left
			width 40%
		.localization, .options-wrapper
			display inline-block
			border-radius 5px
		.options-wrapper
			width 40%
		.map-container
			width 500px
			height 500px
			left 40%
			position relative

	.localization
		> input
			width 100%
			border-radius 5px

	.file-upload
		display block
	.logo
		width 50%
		display inline-block
		.file
			width 100%

	.photos
		width 50%
		display inline-flex
		.file
			width 100%
		.photo
			width 50%
			display inline-block

	textarea
		border 1px solid #f0f0f0
		border-radius 5px
		width 100%

	.buttons
		display inline-block

	.local
		margin 10px 5px
		width 3%
		background-color #f0f0f0
		border 1px solid #f0f0f0
		&:hover
			background-color #ccc
		&:focus
			outline 0
	.selected
		background-color #ccc

