@import 'mixins'

.places
	color #444
	display table
	width 90%
	margin 2% 5%
	user-select none

	.title
		float left

	.create
		width 75px
		margin 20px auto
		padding 5px
		position relative
		float left
		left 2%

	.row
		width 100%
		border-bottom 1px solid #f0f0f0

		.field, .buttons
			float left
			display table-column
			width 14%
			overflow hidden
			text-align center
			margin 5px
			&.big
				width 16%
				text-align left
			&.small
				width 8%
				text-align center
				font-size inherit

		&.name
			clear left
			color #666
			padding 5px
			font-weight bold
			border 1px solid #ddd
			background-color #ccc

		&.data
			user-select initial

	.pagination
		position relative
		width 100%
