.place
	width 100%
	margin auto
	color #444

	.border
		border-radius 5px
	.margin
		margin 10px

	.main, .discounts
		display inline-block
		width 50%
		float left
		.title
			font-weight bold
			margin 10px
			text-align center
	.main
		select
			width 100%
		input, .localization
			width 65%
		.title
			float left
			width 27%
		.localization, .options-wrapper
			display inline-block
			border-radius 5px
		.options-wrapper
			width 40%
		.angular-google-map
			float right

	.localization
		> input
			width 100%
			border-radius 5px

	.file-upload
		display block
	.logo
		width 50%
		display inline-block
		.file
			width 100%

	.photos
		width 50%
		display inline-flex
		.file
			width 100%
		.photo
			width 50%
			display inline-block
	.image
		display inline-block
		float left
		width 100px
		height 100px
		margin 10px
		img
			display inline-block
			float left
			max-width 100px
			max-height 100px
			cursor pointer
			&.big
				max-width 1000px
				max-height 1000px
				z-index 10000
				position fixed
				top 50%
				left 50%
				transform translate(-50%, -50%)
				cursor default
	.hide
		cursor pointer
		z-index 10000
		position fixed
		top 50%
		left 50%
		transform translate(-50%, -50%)

	.overlay
		position fixed
		background-color grey
		opacity .7
		z-index 10
		top 0
		bottom 0
		left 0
		right 0
	textarea
		border 1px solid #f0f0f0
		border-radius 5px
		width 100%

	.discounts
		width 50%
		box-sizing border-box

		.row
			height 2em
			overflow hidden
			transition height 500ms ease-in-out

			&:hover
				background-color white
				height 500px

			.discount
				float left
				width 50%
				border 1px solid #f0f0f0
				border-radius 5px
				padding 0 7px
				box-sizing border-box

				.title
					position relative
					height 1em
					.role, .gender
						position absolute
					.role
						left 17%
					.gender
						right 17%

				.options
					width 100%

	.buttons
		display inline-block

	.local
		margin 10px 5px
		background-color #f0f0f0
		border 1px solid #f0f0f0
		cursor pointer
		&:hover
			background-color #ccc
		&:focus
			outline 0
	.selected
		background-color #ccc

