.photos-view ng-controller="PhotosController" ng-init="init()"
	h2.title Фото
	.row.data ng-repeat="photo in photosPerPage"
		h4.field ng-bind="photo.description"
		.field ng-bind="photo.location.address"
		.buttons
			.display ng-hide="isEdited(photo.id) || isCommented(photo.id)"
				.buttons
					button.btn.btn-info ng-click="edit(photo.id)"
						i.glyphicon.glyphicon-pencil
					button.btn.btn-primary ng-click="comment(photo.id)"
						i.glyphicon.glyphicon-comment ng-bind="' (' + photo.commentsCount + ')'"
					button.btn.btn-danger
						i.glyphicon.glyphicon-remove

			.edit ng-show="isEdited(photo.id)"
				button.btn.btn-success ng-click="cancel()" Save
				button.btn.btn-default ng-click="cancel()" Cancel
		big-photo url="photo.url"
		textarea.field.desc ng-show="isEdited(photo.id)" rows="5" ng-model="photo.description"
		a ng-href="{{'/users/'+photo.user.id}}" ng-bind="photo.user.login"

		textarea.field.comment ng-show="isCommented(photo.id)" placeholder="Ваш комментарий"
		.buttons
			.edit ng-show="isCommented(photo.id)"
				button.btn.btn-success ng-click="cancel()" Save
				button.btn.btn-default ng-click="cancel()" Cancel
		.field.comment ng-if="isCommented(photo.id)" ng-repeat="comment in comments"
			img ng-src="{{comment.avatar}}"
			.comment ng-hide="isEdited(comment.id)" ng-bind="comment.body"
			textarea.comment ng-show="isEdited(comment.id)" rows="3" ng-model="comment.body"
			.buttons
				.display ng-hide="isEdited(comment.id) || isCommented(comment.id)"
				button.btn.btn-info ng-click="edit(comment.id)"
					i.glyphicon.glyphicon-pencil
				button.btn.btn-danger
					i.glyphicon.glyphicon-remove

	uib-pagination boundary-links="true" max-size="10" ng-change="changePage()" items-per-page="itemsPerPage" total-items="photos.length" ng-model="currentPage" class="pagination-sm" previous-text=="&lsaquo;" next-text=="&rsaquo;" first-text=="&laquo;" last-text=="&raquo;"
