@import 'mixins'

.body
	font-family Sans-Serif, Helvetica, Arial
	font-size 15px

.block
	display block

input, textarea, select
	font-size 1em

button, select, .noselect
	user-select none
.selectable
	user-select initial

.angular-google-map
	width 500px
	height 300px
	.angular-google-map-container
		width 500px
		height 300px

button
	margin 3px
	// width 25%
	display inline-block
	cursor pointer
	position relative
	&:focus
		outline 0

