@import 'mixins'

.navigation
	background-color #f0f0f0
	border-bottom 1px solid #ddd
	user-select none

	.link
		display inline-block
		color #666
		margin 10px 20px
		transition color, text-shadow .3s ease-in-out
		cursor pointer
		&:hover
			color #0a0
			text-shadow 0 0 5px aqua
