@import 'mixins'

.users
	color #444
	display table
	width 90%
	margin 2% 5%
	position relative
	user-select none

	.row
		width 100%
		clear both
		border-bottom 1px solid #f0f0f0
		display inline-block
		float left

		&.name
			color #666
			padding 5px
			font-weight bold
			border 1px solid #ddd
			background-color #ccc
		&.data
			user-select initial

	.field
		float left
		display table-column
		width 13%
		overflow hidden
		margin 5px
		text-overflow ellipsis
		white-space nowrap
		&.center
			text-align center

	button
		width 5%

	.pagination
		position relative
		width 100%
