.user
	width 1000px
	margin auto
	color #444
	.right
		font-weight bold
		display inline-block

	.title
		position relative
		left 40%

	p
		font-weight normal
		display inline-block
		float right
		width 47%
		clear both

	input, select
		margin 10px
		border-radius 5px
		width 25%
		font-weight normal

	label
		margin 10px
		float left
		display inline-block
		width 50%
		vertical-align middle
		text-align center

	.links
		min-height 1em
		float right
		margin 10px 0
		width 48%

	button
		margin 10px 5px
		position relative
		left 40%
		font-weight normal
		&.add
			position relative
			left 0

	a
		display inline-block
		width 47%
		text-decoration none
		color #444
	img
		display block
		max-width 100px
		max-height 100px
		border-radius 5px
		cursor pointer
		&.avatar, &.selfie
			margin 10px

	.photos
		display table
		width 48%
		.file
			width 100%
		.photo
			display inline-block
			float left
			width 20%
			display inline-block
			margin 5px
			height 130px
			position relative
			.transclude
				position absolute
				left 0
				bottom 0
				width 100%
				.del
					width 20px
					height 20px
					position absolute
					left 67%
					bottom -10px
					border-radius 50%
					padding 0
				.var
					width 20px
					height 20px
					position absolute
					left 10%
					bottom 0
					background-color inherit
					font-weight normal
			&.big
				max-width 1000px
				max-height 1000px
				z-index 10000
				position fixed
				top 50%
				left 50%
				transform translate(-50%, -50%)
				cursor default

	.hide
		cursor pointer
		z-index 10000
		position fixed
		top 50%
		left 50%
		transform translate(-50%, -50%)

	.overlay
		position fixed
		background-color grey
		opacity .7
		z-index 10
		top 0
		bottom 0
		left 0
		right 0



