.popup-image ng-init="init()"
	img.small ng-src="{{url}}" ng-click="showBig(url)"
	.transclude ng-transclude=true
	.overlay ng-show="isBig(url)" ng-click="cancel()"
	img.big ng-src="{{bigUrl}}" ng-show="isBig(url)"
