.detailed-role-update
	role-update-state.before state="roleUpdateRequest.before" current="true"
	role-update-state.after state="roleUpdateRequest.after" target="true"

	.buttons
		button.btn.btn-success ng-click="confirm()" Сохранить
		button.btn.btn-default ng-click="$dismiss('cancel')" Отмена
