.agency ng-repeat="agency in agencies"
	.agency-title ng-bind="agency.title"
	.agency-city ng-bind="'(' + agency.cityName + ')'"
	button.del ng-hide="static"
		i.glyphicon.glyphicon-remove ng-click="delete(agency)"
