.role-update-state ng-init="init()"
	.title ng-bind="current ? 'До' : 'После'"
	.title Selfie:
	.image-wrapper
		big-photo ng-if="state" url="state.selfie"

	.state-field.name ng-show="state.modelAgencies.length > 0" Агентства
	div ng-show="target"
		select ng-options="item.title + ' (' + item.cityName + ')' for item in agencies track by item.id" ng-model="agency"
		button.add ng-click="addAgency()" Добавить
	.model-agencies agencies="state.modelAgencies" static="current"

	.state-row.left
		.state-field.title Имя
		.state-field.title Фамилия
		.state-field.title Дата рождения
		.state-field.title Город
		.state-field.title Телефон
		.state-field.title Ссылки

	.state-row.right ng-if="current"
		.state-field.name ng-bind="state.firstName"
		.state-field.name ng-bind="state.lastName"
		.state-field.name ng-bind="state.birthday"
		.state-field.name ng-bind="state.city"
		.state-field.name ng-bind="state.phone"
		.links
			.state-field.name ng-repeat="link in state.links"
				a ng-bind="link.variant" ng-href="{{link.source}}"

	.state-row.right ng-if="target"
		input.form-control.state-field type="text" ng-model="state.firstName"
		input.form-control.state-field type="text" ng-model="state.lastName"
		.state-field
			input.form-control.state-field.date type="text" uib-datepicker-popup="dd MMMM yyyy" ng-model="state.birthday" is-open="datepicker.opened" datepicker-options="datepicker.options" show-button-bar="false" show-weeks="false"
			button.calendar ng-click="openCalendar()"
				i.glyphicon.glyphicon-calendar
		input.form-control.state-field type="text" ng-model="state.city"
		input.form-control.state-field type="text" ng-model="state.phone"
		.links
			.link ng-repeat="link in state.links"
				a ng-bind="link.variant" ng-href="{{link.source}}"
