.places ng-controller="PlacesController" ng-init="init()"
	h2.title Места
	button.create.btn.btn-success ng-click="create()" Создать
	.row.name
		.field.big Название
		.field.small Тип
		.field Телефон
		.field.small Город
		.field.big Адрес
		.field.big Сайт
		.field.small Действия

	.row.data ng-repeat="place in placesPerPage"
		.field.big ng-bind="place.title.ru"
		.field.small ng-bind="place.location.category"
		.field ng-bind="place.phone"
		.field.small ng-bind="place.location.city.title.ru"
		.field.big ng-bind="place.location.address"
		.field ng-bind="place.url"

		.buttons
			button.btn.btn-info ng-click="show(place.id)"
				i.glyphicon.glyphicon-pencil
			button.btn.btn-primary
				i.glyphicon.glyphicon-comment
			button.btn.btn-danger
				i.glyphicon.glyphicon-remove

	uib-pagination boundary-links="true" max-size="10" ng-change="changePage()" items-per-page="itemsPerPage" total-items="places.length" ng-model="currentPage" class="pagination-sm" previous-text=="&lsaquo;" next-text=="&rsaquo;" first-text=="&laquo;" last-text=="&raquo;"
