.place ng-controller="PlaceShowController" ng-init="init(#{ @id })"
	h2.title ng-bind="(isExists ? 'Редактирование' : 'Создание') + ' заведения '+ place.title.ru"

	- %w[ ru en de cn ].each do |locale|
		button.local ng-class="{selected: currentLanguage == '#{ locale }'}" ng-click="#{ locale }()" == locale.humanize
	.main
		.title Название
		localized-input.field.margin type="text" target="place.title" language="currentLanguage"
		.categories.options-wrapper.margin
			select.options.border ng-options="item.key as item.value for item in categories" ng-model="place.location.category"
		.title Тип
		localized-textarea target="place.description" language="currentLanguage" rows="10"
		.title Описание
		.logo
			img ng-src="{{place.logo}}"
			input.field.margin.border.file type="file"
		.title Логотип
		input.field.margin.border type="text" ng-model="place.phone"
		.title Телефон
		.cities.options-wrapper.margin
			select.options.border ng-options="item.title for item in cities track by item.id" ng-model="place.location.city"
		.title Город
		input.address.field.margin.border type="text" ng-model="place.location.address"
		.title Адрес
		ui-gmap-google-map center="map.center" zoom="map.zoom" options="map.options"
			ui-gmap-marker coords="map.marker.location" idKey="map.marker.id" events="map.marker.events" options="map.marker.options"
		input.field.margin.border type="text" ng-model="place.worktime"
		.title Режим работы
		input.field.margin.border type="text" ng-model="place.url"
		.title Сайт
		.photos
			.field.photo ng-repeat="photo in place.photos"
				big-photo url="photo.url"
				/ img.photo ng-src="{{photo.url}}"
			input.field.margin.border.file type="file"
		.title Фотографии
		.photos
			.field.photo ng-repeat="photo in place.sharedPhotos"
				big-photo url="photo.url"
				/ img.photo ng-src="{{photo.url}}"
		.title Фотографии пользователей

		.buttons
			button.btn.btn-success Сохранить
			button.btn.btn-default ng-click="cancel()" Отмена

	.discounts
		.title Скидки

		- Core::ModelRole.titles.keys.each do |role|
			.row
				- Core::User.genders.keys.each do |gender|
					.discount
						.title
							.role = role.humanize
							.gender = gender.humanize
						.disc_type
							select.options.border
								option value="discount" Скидка
								option value="free" Бесплатно
								option value="service" Услуги
								option value="hot" Hot
						.title Описание
						localized-textarea target="place.description" language="currentLanguage" rows="3"
						.title Как получить скидку
						localized-textarea target="place.description" language="currentLanguage" rows="3"
						.title Фотографии
						input.file-upload type="file"
