doctype html
html
	head
		title Model Alliance Admin
		= stylesheet_link_tag 'application', media: 'all'
		script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?sensor=false&libraries=places&language=ru"
		= javascript_include_tag 'application'
		= csrf_meta_tags
	body ng-app="AdminApp"
		.body ng-controller="MainController" ng-init="init(#{ Admin::LoginActionSerializer.new( current_user ).to_json if current_user })"
			.navigation ng-controller="NavigationController" ng-if="storage.currentUser"
				.link ng-click="goTo('/users')" Пользователи
				.link ng-click="goTo('/role_update_requests')" Верификация моделей
				.link ng-click="goTo('/places')" Места
				.link ng-click="goTo('/events')" События
				.link ng-click="goTo('/news')" Новости
				.link ng-click="goTo('/photos')" Фото
			.content ng-view=true
